extends layout

block content
  .container
    .jumbotron.text-center
      h1
        span.fa.fa-lock
        | Node Authentication
      p
        | Login or Register with:
      a.btn.btn-default.marg_right_5px( href="/login" )
        span.fa.fa-user
        | Local Login
      a.btn.btn-default.marg_left_5px( href="/signup" )
        span.fa.fa-user
          Local Signup

  div(ng-controller="mainController")

    .jumbotron.text-center
      h1
        | I'm a Todo-aholic
        span.label.label-info
          | {{ todos.length }}

    .row#todo-list
      .col-sm-4.col-sm-offset-4
        .checkbox( ng-repeat="todo in todos" )
          label
            input( type="checkbox" ng-click="deleteTodo(todo._id)")
            | {{ todo.text }}

    .row#todo-form
      .col-sm-8.col-sm-offset-2.text-center
        form
          .form-group
            input.form-control.input-lg.text-center( type="text" placeholder="I want to buy a puppy that will love me forever" ng-model="formData.text" )
          button.btn.btn-primary.btn-lg( type="submit" ng-click="createTodo()" )
            | Add