extends layout

block content
  .container
    .col-sm-6.col-sm-offset-3
      h1
        span.fa.fa-sign-in
        |&nbsp;Login

      - if (message.length > 0)
        .alert.alert-danger
          = message

      form( action="/login" method="post" )
        input( type="hidden", name="_csrf" value=token)
        .form-group
          label Email
          input( type="text" class="form-control" name="email" )

        .form-group
          label Password
          input( type="password" class="form-control" name="password" )

        button.btn.btn-warning.btn-lg( type="submit" ) Login

      hr
      p
        | Need an account?&nbsp;
        a( href="/signup" ) Signup
      p
        | Or go&nbsp;
        a( href="/" ) home
        |.